$primary:#5265E1;
$secondary:#FA5959;

$nav-link-color: gray;

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover{
color: $secondary!important;
}
.bg-pattern-right{
    height: 34%;
    width: 25rem;
    border-radius: 40% 0% 0% 40%;
    z-index: -1;
    margin-top: -16rem !important;
    margin-bottom: 25rem;
}
.bg-pattern-left{
    height: 34%;
    width: 25rem;
    border-radius: 0% 40% 40% 0%;
    z-index: -1;
    margin-top: -15rem !important;
    margin-bottom: 25rem;
}
.nav-tabs{
    border-bottom: none!important;
    
}
 .nav-tabs .nav-link.active{
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 2px solid #FA5959!important;
}
.nav-tabs .nav-link:hover{
    color: $secondary!important;
    border:none!important;
}

 .card-img-top{
    width: 80px!important;
}
 
.row-cards{
    width: 80%;
}
.card.custom-cards{
    border: none!important;
    border-radius: 1.0rem!important;
}
.custom-btn:hover{
    background-color: white!important;
    color: $primary!important;
    border: solid 2px $primary!important;
}
.custom-btn-black:hover{
    background-color: white!important;
    color: black!important;
    border: solid 2px black!important;
}
.separator{
    border-top: 1px solid rgba(160, 151, 151, 0.53);
    border-top-style: dotted;
    border-top-width: 6px;
}
.accordion-flush .accordion-item .accordion-button{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed){
    background-color: white!important;
    border-color: white!important;
    color: black!important;
}
.accordion-button:focus{
    border-color: white!important;
    box-shadow: none!important;
}
.accordion-button:hover{
    color: $secondary;
}
.accordion-button:not(.collapsed)::after{
    background-image: url(/Ejercicio1/Imagenes/icon-arrow.svg)!important;
    fill: red!important;
}
.accordion-button::after{
    background-image: url(/Ejercicio1/Imagenes/icon-arrow.svg)!important;
}

.custom-letterspacing{
    letter-spacing: 0.3rem;
}
.custom-button {
    width: 100%;
}
.custom-button:hover{
    background-color: #fff;
    color: $secondary!important;
    border: solid 2px $secondary!important;
}
footer{
    background-color: #242946;
}
input#inputEmail{
    font-size: 0.8rem!important;
    margin-bottom: -5px!important;
}
.invalid-feedback {
    font-style: italic;
    font-size: 0.8rem!important;
}


